body {
	font-family: Arial, Helvetica, sans-serif;
  background: #333;
}
.ui-draggable, .ui-droppable {
	background-position: top;
}
#resizable {
  width: 300px;
  height: 300px;
  padding: 0.5em;
  background-color: inherit;
  position: relative;
}
#resizable h3 {
  text-align: center;
  margin: 0 0 3px 0;
}
.ui-resizable-handle {
  position: absolute;
  bottom: 0;

  z-index: 90;
}
.ui-icon {
  width: 24px;
  height: 20px;
}
.ui-resizable-e:hover,
.ui-resizable-s:hover {
  background: #444;
}
.ui-icon-gripsmall-diagonal-se {
  background-position: -76px -224px;
}